img{
    height: 100px;
    width: 500px;
}
.temp{
    background-color: aqua;
    height: 40px;
    width: 500px;
    align-content: center;
    text-align: center;
}
/* "https://th.bing.com/th/id/R.c8b9a82899455a9f767906990b86d905?rik=L6YJvA%2bdMujM1A&riu=http%3a%2f%2fclipartmag.com%2fimages%2frailroad-tracks-clipart-48.jpg&ehk=SWUa1sztVpChtRcOhqtsklA0PqYZusP47bHw5nOm7wk%3d&risl=&pid=ImgRaw&r=0"
 */
 /* https://th.bing.com/th/id/OIP.iq4GnacJR4hiDG9a7mhMgAHaDt?pid=ImgDet&rs=1 */